		<% current_user.portfolios.each do |p| %>
			<tbody>
				<td><%= link_to p.name, portfolio_path(p)  %></td>
				<td><%= p.type %></td>
				<td><%= button_to "Delete", p, {method: :delete} %>
				<%= link_to "Edit", p %></td>
			<tbody>