<div class="main">

	<h1><%= current_portfolio ? current_portfolio.name : "(not logged in)" %>'s Portfolios</h1>

		<div class="stock">
		<table>
			<thead>
				<th>Ticker</th>
				<th>Company</th>
				<th>Price</th>
			</thead>

		<% current_portfolio.stocks.each do |stock| %>
			<tbody>
				<td><%= stock.ticker %></td>
				<td><%= stock.company %></td>
				<td><%= button_to "X", p, {method: :delete} %></td>
			<tbody>
		</div>

		<% end %>
		
		</table>

</div>
