<div class="stock">
	<h1>Add a new Stock</h1>
	<%= form_for @stock do |s|%>
		<%= s.text_field :ticker, :placeholder => "Stock ticker"%><br>

		<%= s.submit "Add New Stock to Portfolio" %>
	<% end %>
	
</div>
